<!DOCTYPE HTML>

<html>
    <head>
        <title>Dirty Frank's Hotdog Palace</title>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js"></script>
        <script src="../js/utils.js"></script>
        <script src="../js/main.js"></script>
        <link rel="stylesheet" href="../css/main.css"/>
    </head>
    <div id="header-nav"></div>
    <div id="main-content"></div>
    <div id="footer-info"></div>
    <body>
        <script id="headerTemplate" type="template"></script>
        <script id="footerTemplate" type="template"></script>
    </body>
</html>